In [2]:
import pandas as pd

In [3]:
amazon1 = pd.read_pickle('./amazon/trn_mat.pkl')
amazon2 = pd.read_pickle('./amazon/tst_mat.pkl')
amazon3 = pd.read_pickle('./amazon/val_mat.pkl')

In [4]:
print(type(amazon1))
# coo_matrix是稀疏矩阵，横坐标是uid,纵坐标是项目iid

<class 'scipy.sparse._coo.coo_matrix'>

In [5]:
print(amazon1)

  (0, 0)	1.0
  (0, 1)	1.0
  (0, 2)	1.0
  (1, 3)	1.0
  (1, 4)	1.0
  (1, 5)	1.0
  (1, 6)	1.0
  (1, 7)	1.0
  (1, 8)	1.0
  (1, 9)	1.0
  (1, 10)	1.0
  (1, 11)	1.0
  (1, 12)	1.0
  (1, 13)	1.0
  (1, 14)	1.0
  (1, 15)	1.0
  (1, 16)	1.0
  (1, 17)	1.0
  (1, 18)	1.0
  (1, 19)	1.0
  (1, 20)	1.0
  (1, 21)	1.0
  (1, 22)	1.0
  (1, 23)	1.0
  (1, 24)	1.0
  :	:
  (10995, 3944)	1.0
  (10995, 8830)	1.0
  (10995, 8278)	1.0
  (10996, 4252)	1.0
  (10996, 5928)	1.0
  (10996, 1369)	1.0
  (10996, 188)	1.0
  (10996, 2568)	1.0
  (10996, 4288)	1.0
  (10997, 619)	1.0
  (10997, 5970)	1.0
  (10997, 710)	1.0
  (10998, 7598)	1.0
  (10998, 2449)	1.0
  (10998, 2630)	1.0
  (10998, 3183)	1.0
  (10998, 40)	1.0
  (10998, 7670)	1.0
  (10999, 1167)	1.0
  (10999, 1450)	1.0
  (10999, 1452)	1.0
  (10999, 1244)	1.0
  (10999, 1476)	1.0
  (10999, 1270)	1.0
  (10999, 8544)	1.0

In [7]:
print(amazon2)

  (0, 164)	1.0
  (1, 2530)	1.0
  (1, 4335)	1.0
  (1, 1905)	1.0
  (1, 6642)	1.0
  (1, 1972)	1.0
  (1, 2978)	1.0
  (1, 6430)	1.0
  (1, 3129)	1.0
  (1, 268)	1.0
  (1, 4954)	1.0
  (2, 3)	1.0
  (2, 4453)	1.0
  (2, 6109)	1.0
  (2, 4587)	1.0
  (2, 5029)	1.0
  (2, 7405)	1.0
  (2, 7120)	1.0
  (2, 4353)	1.0
  (3, 3074)	1.0
  (3, 438)	1.0
  (3, 5359)	1.0
  (3, 3083)	1.0
  (3, 7719)	1.0
  (3, 114)	1.0
  :	:
  (10989, 8790)	1.0
  (10989, 8861)	1.0
  (10989, 8817)	1.0
  (10989, 8836)	1.0
  (10990, 8812)	1.0
  (10990, 3935)	1.0
  (10990, 7056)	1.0
  (10990, 6238)	1.0
  (10991, 7251)	1.0
  (10992, 8847)	1.0
  (10993, 7161)	1.0
  (10994, 8826)	1.0
  (10994, 7222)	1.0
  (10995, 7189)	1.0
  (10995, 7308)	1.0
  (10995, 3941)	1.0
  (10995, 6833)	1.0
  (10995, 8848)	1.0
  (10995, 8826)	1.0
  (10996, 7259)	1.0
  (10996, 4264)	1.0
  (10997, 5977)	1.0
  (10998, 3774)	1.0
  (10999, 1223)	1.0
  (10999, 6335)	1.0

In [8]:
print(amazon3)

  (1, 164)	1.0
  (1, 495)	1.0
  (1, 1202)	1.0
  (1, 9105)	1.0
  (1, 7013)	1.0
  (1, 7160)	1.0
  (1, 536)	1.0
  (2, 1507)	1.0
  (2, 4268)	1.0
  (2, 1666)	1.0
  (3, 104)	1.0
  (3, 4384)	1.0
  (3, 132)	1.0
  (3, 801)	1.0
  (3, 5803)	1.0
  (3, 3094)	1.0
  (3, 9246)	1.0
  (3, 5779)	1.0
  (3, 4979)	1.0
  (3, 984)	1.0
  (3, 1293)	1.0
  (3, 130)	1.0
  (4, 1606)	1.0
  (4, 940)	1.0
  (4, 2568)	1.0
  :	:
  (10990, 7215)	1.0
  (10990, 8819)	1.0
  (10991, 3955)	1.0
  (10992, 8427)	1.0
  (10992, 3949)	1.0
  (10993, 8748)	1.0
  (10993, 8901)	1.0
  (10993, 7056)	1.0
  (10994, 8532)	1.0
  (10994, 8901)	1.0
  (10994, 5960)	1.0
  (10994, 8987)	1.0
  (10995, 7259)	1.0
  (10995, 6313)	1.0
  (10995, 8817)	1.0
  (10995, 8825)	1.0
  (10995, 8987)	1.0
  (10996, 6341)	1.0
  (10996, 4661)	1.0
  (10997, 645)	1.0
  (10998, 2438)	1.0
  (10998, 1402)	1.0
  (10998, 2680)	1.0
  (10999, 4052)	1.0
  (10999, 3019)	1.0

In [107]:
usr_prf = pd.read_pickle('./amazon/usr_prf.pkl')

In [108]:
print(type(usr_prf))

<class 'dict'>

In [109]:
print(usr_prf[0])
print(type(usr_prf[0]))
print(usr_prf[0]["profile"])

{'profile': 'This user enjoys reading heart-warming romance novels with relatable characters, sweet storylines, and family dynamics. They seem to like stories about second-chances, rebuilding trust, and starting over in relationships. They prefer books with well-developed characters, witty dialogue, and unexpected turns. However, they may not enjoy books with far-fetched ideas.', 'reasoning': "Based on the user's reviews of the purchased books, they provided positive feedback on the heart-warming romance novels they read and enjoyed. They also mentioned enjoying the relatable characters and family dynamics. Additionally, they mentioned Bernadette's writing style and Brenda Jackson's ability to tell a story. Based on their reviews and book descriptions, it is evident that they prefer books with themes of second-chances, rebuilding trust, and family bonds. However, they may not enjoy books with far-fetched ideas and unrealistic plots."}
<class 'dict'>
This user enjoys reading heart-warming romance novels with relatable characters, sweet storylines, and family dynamics. They seem to like stories about second-chances, rebuilding trust, and starting over in relationships. They prefer books with well-developed characters, witty dialogue, and unexpected turns. However, they may not enjoy books with far-fetched ideas.

In [110]:
len(usr_prf)

11000

In [111]:
print(amazon)

  (0, 0)	1.0
  (0, 1)	1.0
  (0, 2)	1.0
  (1, 3)	1.0
  (1, 4)	1.0
  (1, 5)	1.0
  (1, 6)	1.0
  (1, 7)	1.0
  (1, 8)	1.0
  (1, 9)	1.0
  (1, 10)	1.0
  (1, 11)	1.0
  (1, 12)	1.0
  (1, 13)	1.0
  (1, 14)	1.0
  (1, 15)	1.0
  (1, 16)	1.0
  (1, 17)	1.0
  (1, 18)	1.0
  (1, 19)	1.0
  (1, 20)	1.0
  (1, 21)	1.0
  (1, 22)	1.0
  (1, 23)	1.0
  (1, 24)	1.0
  :	:
  (10995, 3944)	1.0
  (10995, 8830)	1.0
  (10995, 8278)	1.0
  (10996, 4252)	1.0
  (10996, 5928)	1.0
  (10996, 1369)	1.0
  (10996, 188)	1.0
  (10996, 2568)	1.0
  (10996, 4288)	1.0
  (10997, 619)	1.0
  (10997, 5970)	1.0
  (10997, 710)	1.0
  (10998, 7598)	1.0
  (10998, 2449)	1.0
  (10998, 2630)	1.0
  (10998, 3183)	1.0
  (10998, 40)	1.0
  (10998, 7670)	1.0
  (10999, 1167)	1.0
  (10999, 1450)	1.0
  (10999, 1452)	1.0
  (10999, 1244)	1.0
  (10999, 1476)	1.0
  (10999, 1270)	1.0
  (10999, 8544)	1.0

In [112]:
usr_emb = pd.read_pickle('./amazon/usr_emb_np.pkl')

In [113]:
print(type(usr_emb))

<class 'numpy.ndarray'>

In [114]:
print(usr_emb[0])
print(len(usr_emb[0]))
# 1536维

[-0.00994867 -0.01401056 -0.00732578 ... -0.01203521 -0.00111685
 -0.01537106]
1536

In [115]:
import json

In [116]:
with open('./amazon-CD/CDs_and_Vinyl_5.json', 'r') as file:
    for line in file:
        print(line)
        print(type(line))
        
        review = json.loads(line)
        print(review)
        print(type(review))
        print(review['reviewerID'])
        break
# asin是产品ID，reviewerID是用户ID

{"reviewerID": "A3IEV6R2B7VW5Z", "asin": "0307141985", "reviewerName": "J. Anderson", "helpful": [14, 15], "reviewText": "I don't know who owns the rights to this wonderful production, but considering all the other Rankin/Bass goodies available on DVD, why has Mouse On The Mayflower been ignored for release? It's ludacris! Release it!! For heaven's sake!! This production deserves at least the same repect that was given to lesser productions like \"Rudoloph's Shiny New Year\" or \"The Little Drummer Boy, Book II\", which were not half as good as Mouse On The Mayflower\". Most of us Baby Boomers grew up with this stuff. We got our baths & teeth brushed early so we could watch them before being scurried off to bed, and anxiously awaited repeats year after year. Did anyone else but me sit with a cassette recorder next to the TV speaker so they could record the show audio? LOL. I did. I loved the songs, and I'd listen to the tapes I made and play the visuals over and over in my head. God it was great being a kid! C'Mon Rankin/Bass! Bring this one back on DVD! It's a classic!", "overall": 5.0, "summary": "LISTEN TO THE PUBLIC!!!", "unixReviewTime": 1128556800, "reviewTime": "10 6, 2005"}

<class 'str'>
{'reviewerID': 'A3IEV6R2B7VW5Z', 'asin': '0307141985', 'reviewerName': 'J. Anderson', 'helpful': [14, 15], 'reviewText': 'I don\'t know who owns the rights to this wonderful production, but considering all the other Rankin/Bass goodies available on DVD, why has Mouse On The Mayflower been ignored for release? It\'s ludacris! Release it!! For heaven\'s sake!! This production deserves at least the same repect that was given to lesser productions like "Rudoloph\'s Shiny New Year" or "The Little Drummer Boy, Book II", which were not half as good as Mouse On The Mayflower". Most of us Baby Boomers grew up with this stuff. We got our baths & teeth brushed early so we could watch them before being scurried off to bed, and anxiously awaited repeats year after year. Did anyone else but me sit with a cassette recorder next to the TV speaker so they could record the show audio? LOL. I did. I loved the songs, and I\'d listen to the tapes I made and play the visuals over and over in my head. God it was great being a kid! C\'Mon Rankin/Bass! Bring this one back on DVD! It\'s a classic!', 'overall': 5.0, 'summary': 'LISTEN TO THE PUBLIC!!!', 'unixReviewTime': 1128556800, 'reviewTime': '10 6, 2005'}
<class 'dict'>
A3IEV6R2B7VW5Z

In [117]:
line_count = 0

with open('./amazon-CD/CDs_and_Vinyl_5.json', 'r') as file:
    for line in file:
        line_count += 1  # 每读一行，计数加一

print(f"总行数: {line_count}") #1M的数据量，降到100k左右，采用k-core过滤，并消除rating<3or<=3

总行数: 1097592

In [118]:
# 指定列名
column_names = ['uid', 'iid', 'rating', 'timestamp']

# 读取CSV文件并指定列名
df = pd.read_csv('./amazon-CD/ratings_CDs_and_Vinyl.csv', header=None, names=column_names)

In [119]:
df.head()

              uid         iid  rating   timestamp
0   A9DMTMLFR9CO5  0001393774     5.0  1377907200
1   AHG1GTQZUYNJN  0001393774     5.0  1372723200
2  A2TFO7NREP2B2D  0001393774     5.0  1396396800
3  A2YAPAG1IPNK7K  0001393774     5.0  1392422400
4   AEKGGV851HY3K  0001393774     5.0  1130803200

In [120]:
df.describe()

             rating     timestamp
count  3.749004e+06  3.749004e+06
mean   4.402598e+00  1.202632e+09
std    1.051720e+00  1.428417e+08
min    1.000000e+00  8.711712e+08
25%    4.000000e+00  1.086566e+09
50%    5.000000e+00  1.205194e+09
75%    5.000000e+00  1.349914e+09
max    5.000000e+00  1.406074e+09

In [121]:
# 删除rating中小于等于3的数据
df_filtered = df[df['rating'] > 3]
# 统计每个uid的数据数
uid_counts = df_filtered.groupby('uid').size().reset_index(name='count')
# 输出结果
print(uid_counts)

                           uid  count
0         A0001624UKLQG4OFIM8X      1
1        A0002382258OFJJ2UYNTR      3
2         A0005916MHK9RK69491E      1
3         A0006650PUSTDDZX7UKW      1
4        A00079183SD656284LYMR      1
...                        ...    ...
1425144          AZZZHA261DJ6V     10
1425145          AZZZJIG4UBIF8      1
1425146          AZZZLM1E5JJ8C      2
1425147          AZZZMSZI9LKE6      1
1425148           AZZZP6KY3MPK      1

[1425149 rows x 2 columns]

In [122]:
uid_counts.describe()

              count
count  1.425149e+06
mean   2.239574e+00
std    1.271799e+01
min    1.000000e+00
25%    1.000000e+00
50%    1.000000e+00
75%    2.000000e+00
max    3.988000e+03

In [123]:
# 统计 count 大于 5 和 10 的个数
count_greater_than_5 = uid_counts[uid_counts['count'] > 5].shape[0]
count_greater_than_10 = uid_counts[uid_counts['count'] > 10].shape[0]
count_greater_than_11 = uid_counts[uid_counts['count'] > 11].shape[0]
count_greater_than_12 = uid_counts[uid_counts['count'] > 12].shape[0]
count_greater_than_13 = uid_counts[uid_counts['count'] > 13].shape[0]
count_greater_than_14 = uid_counts[uid_counts['count'] > 14].shape[0]
count_greater_than_15 = uid_counts[uid_counts['count'] > 15].shape[0]
count_greater_than_20 = uid_counts[uid_counts['count'] > 20].shape[0]
count_greater_than_10_20 = uid_counts[(uid_counts['count'] > 10) & (uid_counts['count'] < 20)].shape[0]
count_greater_than_10_12 = uid_counts[(uid_counts['count'] >= 10) & (uid_counts['count'] <= 12)].shape[0]

# 输出结果
print(f"Count of uids with more than 5 entries: {count_greater_than_5}")
print(f"Count of uids with more than 10 entries: {count_greater_than_10}")
print(f"Count of uids with more than 11 entries: {count_greater_than_11}")
print(f"Count of uids with more than 12 entries: {count_greater_than_12}")
print(f"Count of uids with more than 13 entries: {count_greater_than_13}")
print(f"Count of uids with more than 14 entries: {count_greater_than_14}")
print(f"Count of uids with more than 15 entries: {count_greater_than_15}")
print(f"Count of uids with more than 20 entries: {count_greater_than_20}")
print(f"Count of uids with more than 10_20 entries: {count_greater_than_10_20}")
print(f"Count of uids with more than 10_12 entries: {count_greater_than_10_12}") # 最后选择这一节的用户作为我们的数据集

Count of uids with more than 5 entries: 70563
Count of uids with more than 10 entries: 28725
Count of uids with more than 11 entries: 25321
Count of uids with more than 12 entries: 22554
Count of uids with more than 13 entries: 20312
Count of uids with more than 14 entries: 18410
Count of uids with more than 15 entries: 16790
Count of uids with more than 20 entries: 11381
Count of uids with more than 10_20 entries: 16497
Count of uids with more than 10_12 entries: 10504

In [124]:
# 找到符合条件的uid
valid_uids = uid_counts[(uid_counts['count'] >= 10) & (uid_counts['count'] <= 12)]['uid']
# 过滤原数据，只保留符合条件的uid
filtered_df = df_filtered[df_filtered['uid'].isin(valid_uids)]

# 将filtered_df按照uid排序
sorted_filtered_df = filtered_df.sort_values(by='uid')

In [125]:
sorted_filtered_df.head()
# 113978交互 10504用户

                           uid         iid  rating   timestamp
3265984  A02039013W06XH9FVVFUZ  B0044M43SA     5.0  1352419200
3321379  A02039013W06XH9FVVFUZ  B004TCPW8U     5.0  1352419200
3222553  A02039013W06XH9FVVFUZ  B003R4JAS4     5.0  1352419200
415545   A02039013W06XH9FVVFUZ  B000002H25     5.0  1352419200
1310612  A02039013W06XH9FVVFUZ  B00004TRUP     5.0  1352419200

In [126]:
# 重编码 uid 和 iid
uid_mapping = {original_uid: new_uid for new_uid, original_uid in enumerate(sorted_filtered_df['uid'].unique())}
iid_mapping = {original_iid: new_iid for new_iid, original_iid in enumerate(sorted_filtered_df['iid'].unique())}

# 替换 uid 和 iid
sorted_filtered_df['uid'] = sorted_filtered_df['uid'].map(uid_mapping)
sorted_filtered_df['iid'] = sorted_filtered_df['iid'].map(iid_mapping)

# 准备 JSON 映射
mapper_usr = []
mapper_itm = []

for original_uid, new_uid in uid_mapping.items():
    mapper_usr.append({"user": new_uid, "uid": original_uid})

for original_iid, new_iid in iid_mapping.items():
    mapper_itm.append({"iid": new_iid, "asin": original_iid})

# 保存映射到文件
with open('./amazon-CD/amazon_usr.json', 'w') as f:
    for item in mapper_usr:
        f.write(json.dumps(item) + '\n')  # 每行一个 JSON 对象
        
with open('./amazon-CD/amazon_itm.json', 'w') as f:
    for item in mapper_itm:
        f.write(json.dumps(item) + '\n')  # 每行一个 JSON 对象

# 输出重编码后的数据
print(sorted_filtered_df)

           uid    iid  rating   timestamp
3265984      0      0     5.0  1352419200
3321379      0      1     5.0  1352419200
3222553      0      2     5.0  1352419200
415545       0      3     5.0  1352419200
1310612      0      4     5.0  1352419200
...        ...    ...     ...         ...
752072   10503  67947     5.0   954460800
752051   10503  67948     5.0   954460800
713856   10503  67949     4.0   947030400
714831   10503  67950     4.0  1006732800
989165   10503  67951     4.0  1016496000

[113978 rows x 4 columns]

In [127]:
sorted_filtered_df

           uid    iid  rating   timestamp
3265984      0      0     5.0  1352419200
3321379      0      1     5.0  1352419200
3222553      0      2     5.0  1352419200
415545       0      3     5.0  1352419200
1310612      0      4     5.0  1352419200
...        ...    ...     ...         ...
752072   10503  67947     5.0   954460800
752051   10503  67948     5.0   954460800
713856   10503  67949     4.0   947030400
714831   10503  67950     4.0  1006732800
989165   10503  67951     4.0  1016496000

[113978 rows x 4 columns]

In [ ]:
sorted_filtered_df['rating'] = 1

In [128]:
usr_emb = pd.read_pickle('./amazon-CD/usr_emb_np.pkl')
print(type(usr_emb))
print(usr_emb[0])
print(len(usr_emb[0]))
# 1536维

<class 'numpy.ndarray'>
[-0.00832597  0.00294479  0.00132219 ... -0.01823658 -0.01501448
  0.00895322]
1536